<div class="container">
    <div class="footer__inner">
        <div class="footer__top">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img src="~/assets/icons/logo.svg" alt="Grocery Mart" class="logo__img" />
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <div class="footer__row">
                <!-- List 1 -->
                <div class="footer__col">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">WEEBLY THEMES</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">PRE-SALE FAQS</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">SUBMIT A TICKET</a>
                        </li>
                    </ul>
                </div>

                <!-- List 2 -->
                <div class="footer__col">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">SERVICES</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">THEME TWEAK</a>
                        </li>
                    </ul>
                </div>

                <!-- List 3 -->
                <div class="footer__col">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">SHOWCASE</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">WIDGET KIT</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">SUPPORT</a>
                        </li>
                    </ul>
                </div>

                <!-- List 4 -->
                <div class="footer__col">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">ABOUT US</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">CONTACT US</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">AFFILIATES</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">RESOURCES</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__separate"></div>

        <div class="footer__bot">
            <div class="footer__icon-list">
                <a href="#!"> <img src="~/assets/icons/facebook.svg" alt="" class="footer__icon--item icon" /></a>
                <a href="#!"><img src="~/assets/icons/google.svg" alt="" class="footer__icon--item icon" /></a>
                <a href="#!"><img src="~/assets/icons/instagram.svg" alt="" class="footer__icon--item icon" /></a>
                <a href="#!"><img src="~/assets/icons/twitter.svg" alt="" class="footer__icon--item icon" /></a>
                <a href="#!"><img src="~/assets/icons/telegram.svg" alt="" class="footer__icon--item icon" /></a>
            </div>
            <p class="footer__copyright">©Copyright. All right reserved.</p>
        </div>
    </div>
</div>
